doctype html
html(lang="en")
  head
    meta(charset="utf-8")
  body
    p
      a(href="[permalink slug=\'test\']") link
    p
      a(href='[permalink slug=\'test\']') link
    p
      a(href!="[permalink slug='test']") link
